<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ SITE_NAME }} Web Content</title>
</head>

<body>
    <h1>ansible demo for {{ SITE_NAME }}</h1>
    <ul>
        {% for tree in TREES %}
            <li>{{ tree }}</li>
        {% endfor %}
    </ul>
</body>

</html>